.main {
    display: flex;
    padding: 0 50px 36px 50px;
    flex-direction: column;
}

.resource-card {
    min-width: 380px;
    max-width: 380px;
    margin-top: 20px;
    border: 1px solid $access-grey-light;


    p {
        color: $access-text-light;
        margin-bottom: 0;
        font-size: 14px;
    }

    .card-header {
        background: $access-grey-light;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 130px;
        border: none;

        .resource-title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            color: $access-text-dark;
            text-overflow: ellipsis;
            font-weight: 600;
            font-size: 16px;
        }

        .resource-inst {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            color: $access-text-medium;
            text-overflow: ellipsis;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;

        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            align-self: stretch;
        }

        .badge-container {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;

            .feature-badge {
                display: flex;
                padding: 4px 8px;
                align-items: center;
                gap: 4px;
                border-radius: 4px;
                background: $access-grey-light;
                color: $access-text-medium-dark;
                font-weight: normal;
            }

            .badge-modal-body {
                display: flex;
                flex-direction: row;
                padding: 24px;
                gap: 24px;
                align-items: center;

                .badge-modal-status {
                    font-size: 14px;
                    line-height: 20px;
                }

                .badge-modal-name {
                    color: $access-text-dark;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }
        }

        .resource-type-container {
            padding-top: 16px;
            display: flex;
            gap: 12px;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    .resource-badge {
        border-radius: 4px;
        border: 1px solid $access-grey-medium;
        background: white;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 8px;
        color: $access-text-dark;

        :focus-visible, :focus {
            color: $access-text-dark !important;
        }
    }
}

.expand-button {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;

    p, a {
        color: $access-text-medium;
        font-weight: 500;
        font-size: 16px;
        text-decoration: underline;
    }
}

.link-panel {
    padding: 36px 16px;
    border-radius: 8px;
    background: $access-grey-light;
    min-height: 200px;

    .link-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        border-right: 1px solid $access-grey-medium;
        padding-left: 24px;

        .link-text {
            color: $access-text-medium-dark;
            font-size: 18px;
            line-height: 30px;
            align-self: stretch;
            max-width: 80%;
        }
    }

    .link-section:last-child {
        border-right: none;
    }
}