.main {
    display: flex;
    padding: 0 50px 36px 50px;
    flex-direction: column;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
    font-stretch: normal;
    color: $access-text-dark;
}

.resource-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
    margin-bottom: 48px;

    .resource-inst-section {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .resource-inst-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;

            .resource-inst-name {
                font-weight: 800;
                margin-bottom: 0;
                line-height: 28px;
            }

            .resource-inst-resource-count {
                color: $access-text-light;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0;
                line-height: 24px;
            }

            .resource-inst-view-all {
                color: $access-text-medium;
            }
        }


    }
}

.resource-card {
    min-width: 280px;
    max-width: 280px;
    min-height: 330px;
    max-height: 330px;
    margin-top: 20px;
    border: 1px solid $access-grey-light;
    border-radius: 16px;

    p {
        margin-bottom: 0;
        font-size: 14px;
    }

    .card-header {
        max-height: 130px;
        background: $access-grey-light;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;

        img {
            max-height: 100%;
            max-width: 100%;
            padding: 16px;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 8px;

        .resource-title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            font-size: 16px;
        }

        .resource-type {
            font-size: 12px;
            color: $access-text-light;
        }

        .card-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .badge-container {
            display: flex;
            gap: 8px;
            flex-wrap: nowrap;
            align-items: center;

            .feature-badge {
                display: flex;
                padding: 4px 8px;
                align-items: center;
                gap: 4px;
                border-radius: 4px;
                background: $access-grey-light;
                color: $access-text-medium-dark;
                font-weight: normal;
            }

            .badge-modal-body {
                display: flex;
                flex-direction: row;
                padding: 24px;
                gap: 24px;
                align-items: center;

                .badge-modal-status {
                    font-size: 14px;
                    line-height: 20px;
                }

                .badge-modal-name {
                    color: $access-text-dark;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }

            .resource-badge {
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 4px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;

                :focus-visible, :focus {
                    color: $access-text-dark !important;
                }
            }

            .badge-more p {
                color: $access-text-light;
            }
        }

        .resource-type-container {
            padding-top: 16px;
            display: flex;
            gap: 12px;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.expand-button {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;

    p, a {
        color: $access-text-medium;
        font-weight: 500;
        font-size: 16px;
        text-decoration: underline;
    }
}

.link-panel {
    padding: 36px 16px;
    border-radius: 8px;
    background: $access-grey-light;
    min-height: 200px;

    .link-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        border-right: 1px solid $access-grey-medium;
        padding-left: 24px;

        .link-text {
            color: $access-text-medium-dark;
            font-size: 18px;
            line-height: 30px;
            align-self: stretch;
            max-width: 80%;
        }
    }

    .link-section:last-child {
        border-right: none;
    }
}