.main {
    display: flex;
    padding: 52px 50px 36px 50px;
    flex-direction: column;
}

// adjusted styles according to access style guide 9 and the project's design
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
    font-stretch: normal;
    color: $access-black;
}

h1, .h1 {
    font-weight: 500;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

// resource catalog page
.resource-catalog-wrapper {

    // search bar section
    .search-section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;

        .search-bar-wrapper {
            height: 40px;

            .input-group-text {
                background: none;
            }
        }

        .filter-section {
            display: flex;
            gap: 10px;
            padding: 0 10px;
            align-items: center;

            p {
                color: $access-grey;
                font-size: 16px;
                font-weight: 500;
            }

            .dropdown-toggle {
                display: flex;
                align-items: center;
                gap: 8px;
                border-radius: 4px;
                border: 1px solid $access-grey-medium;
                margin-right: 0;

                &:hover {
                    background-color: $access-grey-light;
                }
            }
        }
    }

    // resource list section
    .resource-list {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 32px;
        margin-bottom: 48px;

        .resource-inst-section {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .resource-inst-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;

                .resource-inst-name {
                    font-weight: 800;
                    margin-bottom: 0;
                    line-height: 28px;
                }

                .resource-inst-resource-count {
                    color: $access-grey;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 24px;
                }

                .resource-inst-view-all {
                    color: $access-medium;
                }
            }
        }
    }

    // each resource card
    .resource-card {
        min-width: 280px;
        max-width: 280px;
        min-height: 330px;
        max-height: 330px;
        margin-top: 20px;
        border: 1px solid $access-grey-light;
        border-radius: 16px;

        &:hover {
            cursor: pointer;
            border: 1px solid $access-medium;
        }

        p {
            font-size: 14px;
        }

        .card-header-wrapper {
            height: 130px;
            background: $access-grey-light;
            padding: 16px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;

            .card-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: $access-grey-light;
                border: none;
                padding: 16px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            .card-header-placeholder {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4px;
                width: 100%;
                height: 100%;

                p {
                    font-size: 16px;
                }
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-top: 8px;

            .resource-title {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                align-self: stretch;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                font-size: 16px;
            }

            .resource-type {
                font-size: 12px;
                color: $access-grey;
            }

            .card-text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                align-self: stretch;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .badge-container {
                display: flex;
                gap: 8px;
                flex-wrap: nowrap;
                align-items: center;

                &.more {
                    justify-content: space-between;
                    gap: 2px;
                }

                .resource-badge {
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding: 0;

                    &:focus-visible, :focus {
                        color: $access-black !important;
                    }

                    &:hover {
                        background: $access-grey-light;
                    }
                }

                .badge-more {
                    padding: 4px 8px;
                    margin-left: 0;
                    border: none;
                    border-radius: 4px;
                    color: $access-grey;

                    &:hover {
                        background: $access-grey-light;
                    }
                }
            }

            .resource-type-container {
                padding-top: 16px;
                display: flex;
                gap: 12px;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    // footer section
    .link-panel {
        padding: 36px 16px;
        border-radius: 8px;
        background: $access-grey-light;
        min-height: 200px;

        .link-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
            border-right: 1px solid $access-grey-medium;
            padding-left: 24px;

            .link-text {
                color: $access-black-medium;
                font-size: 18px;
                line-height: 30px;
                align-self: stretch;
                max-width: 80%;
            }

            .expand-button {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 4px;

                p, a {
                    color: $access-medium;
                    font-weight: 500;
                    font-size: 16px;
                    text-decoration: underline;
                }
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

.resource-card-badge-tooltip {

    .tooltip-inner {
        font-size: 16px;
        font-weight: 600;
        color: $access-medium;
        box-shadow: 0 4px 4px 0 #1071801A;
        border-radius: 8px;
        background: white;
        padding: 8px 16px;
    }

    &.show {
        margin-top: -8px !important;
        opacity: 1 !important;
    }

    .tooltip-arrow {
        display: none;
    }
}

// researcher badge modal
.researcher-modal {
    cursor: default;
    max-width: 640px;

    .badge-modal-body {
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 24px;

        .badge-modal-header {
            display: flex;
            justify-content: space-between;

            .badge-modal-header-info {
                display: flex;
                gap: 16px;

                img {
                    max-height: 120px;
                    max-width: 120px;
                }

                .badge-modal-header-info-title {
                    margin-top: 8px;

                    .badge-modal-name {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 24px;
                        margin-bottom: 8px;
                    }

                    .badge-modal-source {
                        color: $access-grey;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }

        .badge-modal-content {

            p {
                color: $access-grey;
                font-size: 16px;
                line-height: 24px;
            }
        }

        .badge-modal-footer {
            display: flex;
            justify-content: flex-end;

            a:first-of-type {
                color: $access-medium;
            }

            a {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                border-radius: 4px;
                width: fit-content;
            }
        }
    }
}

// detail page of a resource (except the badge section)
.resource-detail {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .resource-detail-header {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        max-height: 160px;

        .resource-detail-header-info {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .resource-detail-header-title {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h1 {
                    margin-bottom: 0;
                }

                h3 {
                    margin-bottom: 0;
                    font-size: 18px;
                    font-weight: 500;

                    a {
                        color: $access-medium;
                        text-decoration: none;
                    }
                }
            }

            .resource-detail-header-subtitle {
                margin: 8px 0;
                display: flex;
                gap: 32px;

                p {
                    font-size: 18px;
                    font-weight: 500;
                }

                .resource-detail-header-subtitle-item {
                    p:first-of-type {
                        color: $access-grey;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }

        .resource-detail-header-img {
            flex-shrink: 0;
            width: 240px;
            height: 160px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    .resource-detail-btn {
        max-width: fit-content;
        margin: 0;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }

    h2 {
        font-weight: 800;
        margin-bottom: 0;
        line-height: 28px;
    }

    .description-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 16px;

        p {
            color: $access-grey;
            max-width: 80%;
        }
    }

    .feature-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 16px;

        .badge-container {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            align-items: center;
            max-width: 80%;

            .feature-badge {
                display: flex;
                padding: 4px 8px;
                align-items: center;
                gap: 4px;
                border-radius: 4px;
                background: $access-grey-light;
                color: $access-black-medium;
                line-height: 20px;
                font-weight: normal;
                font-size: 14px;
                text-transform: capitalize;
            }
        }
    }
}

// badge section on the detail page of a resource
.resource-badge-section {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 20px;

    .resource-badge-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .resource-badge-header-filter {
            display: flex;
            gap: 20px;

            .form-check-input {

                &:checked {
                    background-color: $access-dark;
                    border-color: $access-dark;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .resource-badge-change-view {
            color: $access-medium;
            text-decoration: underline;
        }
    }

    .resource-badge-container-container {
        > div:first-of-type {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .resource-badge-container-options {
            gap: 16px;
            width: 100%;
            //border-bottom: 1px solid $access-grey-light;

            .nav-link {
                padding: 4px 4px 8px;
                color: $access-grey;
                font-size: 16px;
                line-height: 24px;

                &.active {
                    color: $access-medium;
                    font-weight: 500;
                    border-bottom: 2px solid $access-medium;
                }
            }
        }
    }
}

// badges under list view
.resource-badge-list-wrapper {
    margin-top: 24px;
    padding-left: 0;
    padding-right: 0;

    .resource-badge-list {
        thead {

            th:first-of-type {
                border-top-left-radius: 4px;
            }

            th:last-of-type {
                border-top-right-radius: 4px;
            }

            th {
                background-color: $access-grey-light;
                color: $access-black-medium;
                font-weight: 700;
                border: none;
            }

            .col-plan {
                padding-left: 24px;
            }
        }

        tbody {
            tr {
                vertical-align: middle;

                th, td {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }

                td:not(:first-of-type) {
                    //padding-top: 16px;
                }

                th[scope="row"] {
                    display: none;
                }

                .badge-list-img {
                    max-height: 64px;
                    max-width: 64px;
                    object-fit: contain;
                }

                .badge-list-name, .badge-list-description {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    width: 100%;
                    overflow: hidden;
                }

                .list-action {
                    font-size: 14px;
                    font-weight: 500;
                    color: $access-medium;
                    text-transform: uppercase;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }
}

// badges under dashboard view
.resource-badge-dashboard {
    margin-top: 24px;
    //gap: 16px;

    .col {
        padding-bottom: 24px;
    }
}

// badge detail page
.badge-detail-wrapper {

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 32px;

        .title-wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;
            white-space: nowrap;

            h1 {

                &:hover {
                    cursor: pointer;
                    color: $access-grey;
                }
            }

            a {
                text-transform: uppercase;
                text-decoration: none;
                color: $access-medium;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .btn-group {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: 8px;

            p {
                white-space: nowrap;
                color: $access-grey;
            }

            .dropdown-toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid $access-grey-medium;
                border-radius: 4px;
                max-height: 36px;
                min-width: 140px;
            }
        }

    }

    .main-wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 32px;

        .sidebar-wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 320px;

            img {
                max-height: 200px;
                padding: 8px 16px;
                object-fit: contain;
            }

            .sidebar-section {
                display: flex;
                flex-direction: column;
                gap: 12px;
                border-radius: 8px;
                padding: 16px 24px;
                white-space: nowrap;
                background: #f5f5f5;

                .sidebar-section-title-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 20px;

                    .sidebar-section-title {
                        font-size: 14px;
                        font-weight: 500;
                        color: $access-medium;
                        text-transform: uppercase;
                    }

                    .sidebar-section-title-icon {
                        color: $access-medium;
                        height: 28px;
                        width: 28px;
                        padding: 4px;
                        margin-left: 0;
                        border-radius: 4px;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            cursor: pointer;
                            background: $access-grey-medium;
                        }
                    }
                }

                .sidebar-section-links {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    a, p {
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;
                        color: $access-black;

                        display: flex;
                        align-items: center;
                        gap: 8px;

                        text-overflow: ellipsis;
                        white-space: break-spaces;
                    }

                    // has text-decoration
                    li {
                        font-size: 16px;
                        font-weight: 500;
                        color: $access-black;

                        text-overflow: ellipsis;
                        white-space: break-spaces;
                    }
                }

                .sidebar-section-edit-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .sidebar-section-edit {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .sidebar-section-edit-title {
                            font-size: 14px;
                            color: $access-grey,
                        }


                    }

                    a, p {
                        text-overflow: ellipsis;
                        white-space: break-spaces;
                    }
                }
            }

            .badge-status-wrapper {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 12px 16px 16px 28px;

                // the same as sidebar-section-title
                .badge-status-title {
                    font-size: 14px;
                    font-weight: 500;
                    color: $access-medium;
                    text-transform: uppercase;
                }

                .badge-status-comment-btn {
                    width: fit-content;
                    margin: 8px 0 0;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }

        .content-wrapper {
            width: 100%;

            .basic-info-wrapper {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .basic-info-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .basic-info-title {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        h2 {
                            font-weight: 800;
                            line-height: 28px;
                            margin-bottom: 0;
                        }
                    }

                    .btn {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                    }
                }

                .basic-info-status {
                    display: flex;
                    flex-direction: row;
                    gap: 32px;
                    white-space: nowrap;

                    .basic-info-status-block {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 4px;

                        p:first-of-type {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            color: $access-grey;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                }

                .basic-info-description {
                    margin-top: 20px;

                    h5 {
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-bottom: 8px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            .prerequisite-badge-container {
                margin-top: 40px;

                .prerequisite-badge-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    .switch-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        padding: 0;
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .task-container {
                margin-top: 40px;

                .task-container-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .task-container-title {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        h4 {
                            font-size: 20px;
                            font-weight: bold;
                            margin-bottom: 0;
                        }

                        p {
                            display: flex;
                            align-items: flex-end;
                            gap: 4px;
                        }
                    }

                    .btn {
                        max-height: 38px;
                        white-space: nowrap;
                    }
                }

                .task-list {
                    display: flex;
                    flex-direction: column;
                    margin-top: 32px;
                    gap: 20px;

                    .task-wrapper {
                        border: none;

                        .task-title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-left: 0;
                            margin-right: 0;
                            padding: 16px;
                            font-size: 18px;
                            border-radius: 8px;
                            border: none;
                            line-height: 30px;
                            min-height: 50px;
                            max-height: 50px;
                            color: $access-medium;
                            background: $access-grey-light;

                            &:not(.collapsed) {
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                                box-shadow: none;
                            }
                        }

                        .task-content {
                            border: 1px solid $access-grey-light;
                            border-bottom-left-radius: 8px;
                            border-bottom-right-radius: 8px;

                            .task-summary {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                            }

                            .task-options-wrapper {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 16px;
                                align-items: flex-start;

                                .task-options {
                                    display: flex;
                                    gap: 64px;
                                    align-items: center;

                                    .task-option-box {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        gap: 4px;

                                        p:first-of-type {
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 20px;
                                            color: $access-grey;
                                        }

                                        p {
                                            font-size: 16px;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}

// badge detail plan modal
.plan-modal {
    max-width: 800px;

    &.unplan {
        max-width: 600px;
    }

    .badge-modal-body {
        display: flex;
        flex-direction: column;
        padding: 36px;
        gap: 24px;

        .badge-modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                margin-bottom: 0;
                color: $access-medium;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 28px;
            }
        }

        .badge-modal-content {

            p:first-of-type {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                color: $access-black;
                margin-bottom: 8px;
            }

            p {
                color: $access-grey;
            }

            .badge-modal-input-wrapper {
                margin-top: 32px;
                color: $access-grey;

                .form-check-input {
                    border-radius: 2px;

                    &:checked {
                        background-color: $access-dark;
                        border-color: $access-dark;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }

                .badge-modal-input {
                    margin-top: 16px;

                    .invalid-feedback {
                        margin-top: 8px;
                    }
                }
            }
        }

        .badge-modal-footer {
            display: flex;
            justify-content: flex-end;

            a:first-of-type {
                color: $access-medium;
            }

            a {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                border-radius: 4px;
                width: fit-content;
            }
        }
    }
}

// fragments
.label-tag {
    display: flex;
    padding: 2px 8px;
    margin: 8px;
    align-items: center;
    border-radius: 4px;
    background: $access-grey-light;
    font-size: 12px;
    line-height: 20px;
    color: $access-medium;
    width: fit-content;
    text-transform: capitalize;

    &.unverified-style {
        color: #FFA500;
    }
}

.status-tag {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;

    color: #3F3F3F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    position: relative;
    padding: 2px 8px 2px 20px;
    width: fit-content;

    &::before {
        content: '•';
        position: absolute;
        color: black;
        font-size: 20px;
        left: 0;
        margin-left: 8px;
    }

    &.deprecated-style {
        border: 1px dashed #8C8C8C;
        color: #8C8C8C;

        &::before {
            color: #8C8C8C;
        }
    }

    &.not-planned-style {
        background: #ECF9F8;
        color: $access-black-medium;

        &::before {
            color: #B0B0B0;
        }
    }

    &.not-started-style {
        background: #F2F2F2;

        &::before {
            color: #B0B0B0;
        }
    }

    &.planned-style {
        background: #E8F3FF;

        &::before {
            color: #3596FF;
        }
    }

    &.verified-style {
        background: #E3FCE9;

        &::before {
            color: #59D376;
        }
    }

    &.task-completed-style {
        background: #FFF1D8;

        &::before {
            color: #FFA500;
        }
    }

    &.verification-failed-style {
        background: #FFD7D1;

        &::before {
            color: #F83E1D;
        }
    }
}

.btn-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 4px;
    text-transform: uppercase;

    &.planned-style {
        border: 1px solid $access-medium;
        color: $access-medium;
        background: none;

        &:hover {
            background: $access-medium;
            color: white;
        }
    }

    &.disabled {
        background: $access-grey-medium;
        color: $access-grey;
        border: none;
    }
}

.btn-text {

}

.switch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}

.resource-badge {
    position: relative;
    width: 280px;
    border: 1px solid $access-grey-medium;

    .card-img-top {
        max-height: 120px;
        padding: 8px;
        object-fit: contain;
    }

    .card-body {
        padding-top: 8px;
        padding-bottom: 8px;

        .card-title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 4px;
        }

        .card-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            align-self: stretch;
            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $access-grey;
            margin-bottom: 8px;
        }

        .resource-badge-tag-section {
            min-height: 24px;
            margin-top: 12px;
            margin-bottom: 8px;
        }

        .resource-badge-action {
            margin-left: 0;
            margin-top: 8px;
            margin-bottom: 8px;
            width: 100%;
        }
    }
}

.form-checkbox {
    border-radius: 2px;
    border: 2px solid $access-grey;

    &:checked {
        background-color: $access-dark;
        border-color: $access-dark;
    }

    &:focus {
        box-shadow: none;
    }
}

.loading-wrapper {
    padding: 64px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.empty-page-wrapper {
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    font-size: 18px;
    text-transform: capitalize;
}

.stepper-wrapper {

    .stepper {
        display: flex;
        flex-direction: column;

        .stepper-content {
            display: flex;
            gap: 16px;
            align-items: center;

            .stepper-circle {
                color: $access-grey-medium;

                &.checked {
                    color: $access-medium;
                }
            }

            p {
                font-size: 14px;
            }
        }

        .progress-bar {
            color: $access-grey-medium;
            margin-left: 6px;

            &.checked {
                color: $access-medium;
            }
        }
    }
}